.dashboard-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: var(--white);
  .panel {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 0 0 30px;
    flex-grow: 1;
    border-top-left-radius: 10px;
    box-shadow: inset 5px 5px 25px var(--whiteish);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @media only screen and(max-width:768px) {
      border-radius: 0;
      margin: 0;
      padding: 10px;
    }
  }
}
.user-dashboard-wrapper {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  @media only screen and(max-width:768px) {
    flex-direction: row;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @media only screen and(max-width:768px) {
      flex-direction: column;
    }
    & > div {
      margin: 10px;
      @media only screen and (max-width: 768px) {
        margin: 10px auto;
      }
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and(max-width:768px) {
      flex-direction: column;
    }
    & > div {
      margin-bottom: 10px;
      @media only screen and (max-width: 768px) {
        margin: 10px auto;
      }
    }
  }

  .greeting {
    margin-left: 20px;
  }
}
