label {
  font-family: "Coolvetica";
  color: var(--light-gray);
  margin: 8px 0;
}
.field {
  display: flex;
  flex-direction: column;
  input {
    padding: 10px;
    margin-bottom: 8px;
    background: var(--lightst-gray);
    border: none;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.1s ease-in;
    &:focus {
      outline: none;
      border: 2px solid var(--yellow);
    }
  }
}
form {
  margin-left: 20px;
}
