.landing-page-wrapper {
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--whiteish);
  .landing-page-content {
    padding: 20px 2%;
    .landing-page-cards {
      display: flex;
      justify-content: space-between;
    }
  }
}
