.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--whiteish);
  .landing-page-content {
    padding: 20px 2%;

    .landing-page-cards {
      & > * {
        margin: 10px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 100%;
    }
  }
}
@media only screen and(max-width:992px) {
  .landing-page-wrapper {
    width: 100vw;
    height: 100vh;
  }

  .landing-page-cards {
    & > * {
      margin: 0px;
    }
  }
}
