.property-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: var(--whiteish);
  .property-container {
    margin: 20px 50px;
    background: var(--white);
    border-radius: 20px;
    & > div {
      margin: 20px;
      padding: 5px;
    }
    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
      .location {
        color: #6d6d6d;
      }
      .right {
        .host {
          display: flex;
          flex-direction: column;
          justify-content: start;

          width: 200px;
          p {
            margin: 0 0 2px 0;
          }
        }
      }
    }
    .images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .image-main {
        width: 60%;
        background-color: black;
        height: 400px;
        border-radius: 25px;
        img {
          width: 100%;
          height: 400px;
          border-radius: 25px;
        }
      }
      .image-other {
        width: 40%;
        height: 400px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background-color: #6d6d6d;
        border-radius: 25px;
        margin-bottom: 10px;
        img {
          width: 100%;
          flex-shrink: 0;
          height: 100%;
        }
      }
    }

    .placeholder-map {
      width: 100%;
      background-color: black;
      height: 400px;
      border-radius: 25px;
    }
    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        flex-direction: row;
        .amenities {
          font-weight: 800;
          font-size: 1em;
          margin-right: 20px;
        }
        .room {
          font-weight: 800;
          font-size: 1em;
          margin-left: 20px;
        }
        .grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          column-gap: 10px;
          row-gap: 10px;
        }
      }
      .right {
        .price {
          font-weight: 800;
          min-width: 300px;
        }
        .cancel {
          font-weight: 800;
          min-width: 300px;
        }
      }
    }
  }
}
