.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  position: relative;
  background-color: black;
  transition: 0.15s ease-in;

  cursor: pointer;
  img {
    filter: brightness(45%);
    height: 300px;
    width: 100%;
    background-size: contain;
    border-radius: 15px;
  }

  p {
    font-size: 1em;
  }

  .card-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--white);
  }
  &:hover {
    transform: translateY(10px) scale(1.05);
    transition: 0.2s ease-in;
  }
}
.medium {
  height: 200px;
  width: 200px;
  img {
    height: 200px;
  }
}
.small {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  position: relative;
  background-color: black;
  img {
    filter: brightness(45%);
    height: 150px;
    width: 100%;
    background-size: contain;
    border-radius: 10px;
  }
  p {
    font-size: 0.8em;
  }

  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    font-size: 0.8em;
  }
}
