.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 250px;
  border-radius: 15px;
  position: relative;
  background-color: black;
  transition: 0.15s ease-in;
  cursor: pointer;
  img {
    height: 300px;
    width: 100%;
    background-size: contain;
    border-radius: 15px;
  }
  p {
    font-size: 1em;
  }

  .card-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--white);
  }
  &:hover {
    transform: translateY(10px) scale(1.05);
    transition: 0.2s ease-in;
  }
}
