.find-property-wrapper {
  display: flex;
  width: fit-content;
  margin: auto;
  .find-property-card {
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
    margin: auto;
    align-items: center;
    border-radius: 15px;
    background-color: var(--white);
    & > div {
      margin: 10px;
      padding: 5px;
    }
    .field {
      h6 {
        margin-bottom: 10px;
      }
    }
  }
}
