.header-wrapper {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 2%;

  .content {
    background-image: url(./assets/header-image.svg),
      linear-gradient(#fff, #dfeaee);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 25px;
    height: 75vh;
    .left-side {
      padding: 0 2%;
      margin-top: 50px;

      @media only screen and (max-width: 768px) {
        width: 60%;
      }
      @media only screen and (max-width: 500px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      h1 {
        margin: 0;
        letter-spacing: 0.05em;
      }
      h3 {
        color: var(--light-gray);
      }
      h5 {
        font-size: 1.5em;
      }
      h6 {
        color: var(--gray);
      }
      Button {
        margin: 2% 0;
      }
      p {
        letter-spacing: 0.025em;
      }
      img {
        width: 50vw;
      }
    }
  }
  .find-card {
    margin-top: -50px;
  }
  @media only screen and(max-width:992px) {
    h1 {
      font-size: 4em;
    }
    background-size: cover;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    .find-card {
      margin-top: -200px;
      width: 100vw;
    }
  }
}
