.footer-wrapper {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  background-color: var(--gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

@media only screen and (max-width: 768px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    padding: 20px;
  }
}

.footer-wrapper .left {
  width: 45%;
  padding-right: 10%;
}

@media only screen and (max-width: 768px) {
  .footer-wrapper .left {
    width: 90%;
  }
}

.footer-wrapper .left .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrapper .left .footer-logo h4 {
  margin-left: 20px;
}

.footer-wrapper .right {
  width: 45%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .footer-wrapper .right {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .footer-wrapper .right {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrapper .right p {
    margin: 5px;
  }
}

.footer-wrapper .right ul {
  list-style-type: none;
  height: 100%;
}

.footer-wrapper .right ul li,
.footer-wrapper .right ul a {
  padding: 2px 0;
  margin: 5px 0;
  color: White;
  text-decoration: none;
}

.footer-wrapper .right p {
  font-family: "Coolvetica";
}

.footer-wrapper .copyright {
  width: 100%;
  text-align: center;
}

.header-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 2%;
}

.header-wrapper .content {
  background-image: url(./assets/header-image.svg), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfeaee));
  background-image: url(./assets/header-image.svg), linear-gradient(#fff, #dfeaee);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 25px;
  height: 75vh;
}

.header-wrapper .content .left-side {
  padding: 0 2%;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .header-wrapper .content .left-side {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .header-wrapper .content .left-side {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-wrapper .content .left-side h1 {
  margin: 0;
  letter-spacing: 0.05em;
}

.header-wrapper .content .left-side h3 {
  color: var(--light-gray);
}

.header-wrapper .content .left-side h5 {
  font-size: 1.5em;
}

.header-wrapper .content .left-side h6 {
  color: var(--gray);
}

.header-wrapper .content .left-side Button {
  margin: 2% 0;
}

.header-wrapper .content .left-side p {
  letter-spacing: 0.025em;
}

.header-wrapper .content .left-side img {
  width: 50vw;
}

.header-wrapper .find-card {
  margin-top: -50px;
}

.navbar-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 100vw;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  font-family: "Coolvetica";
}

.navbar-wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-wrapper .left .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media only screen and (max-width: 992px) {
  .navbar-wrapper .left .navbar-list {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-wrapper .right {
    display: none;
  }
}

.navbar-wrapper .hamburger-closed {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  width: 40px;
  cursor: pointer;
  z-index: 2;
}

@media only screen and (max-width: 992px) {
  .navbar-wrapper .hamburger-closed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-wrapper .hamburger-closed .line {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 25px;
  height: 2px;
  background: white;
  margin: 5px 0;
}

.navbar-wrapper .hamburger-open {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  width: 40px;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 992px) {
  .navbar-wrapper .hamburger-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-wrapper .hamburger-open .line {
  width: 25px;
  border: 1px solid black;
  background: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-wrapper .hamburger-open .line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-wrapper .hamburger-open .line:nth-child(2) {
  display: none;
}

.navbar-wrapper .hamburger-open .line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -2px;
}

.navbar-wrapper .hamburger-content-hidden {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 100% !important;
  width: 0px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-wrapper .hamburger-content-hidden ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-wrapper .hamburger-content-shown {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-wrapper .hamburger-content-shown ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-wrapper .hamburger-content-shown ul li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.white-button {
  width: 140px;
  padding: 8px 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: var(--yellow);
  border: 3px solid var(--white);
  background: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
}

.white-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: var(--yellow);
  color: var(--white);
  border: 4px solid var(--yellow);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.yellow-button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: var(--white);
  background: var(--yellow);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
}

.yellow-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: var(--white);
  color: var(--yellow);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.disabled-button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin: 0 10px;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: var(--white);
  background: var(--light-gray);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
}

.disabled-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: var(--white);
  color: var(--yellow);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-slide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  font-size: 1.25em;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
}

.blue-slide-button:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  background: var(--blue);
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blue-slide-button i {
  font-size: 18px;
  position: relative;
  margin: auto;
  visibility: hidden;
  margin: 22px 0px 0px 10px;
}

.blue-slide-button span {
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin: 14px 0px 14px 70px;
  position: absolute;
  font-family: "Viga";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blue-slide-button:hover:before {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blue-slide-button:hover span {
  color: var(--white);
  margin-left: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blue-slide-button:hover i {
  visibility: visible;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--white);
}

.blue-slide-button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.text-button {
  padding: 10px 0px;
  margin-right: 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: var(--black);
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.text-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--yellow);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-outline-button {
  width: 200px;
  font-size: 1.25em;
  background-color: white;
  color: var(--blue);
  border: none;
  padding: 10px 0;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.blue-outline-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-contact-button {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70px;
  height: 70px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: auto 0 32px auto;
  border: none;
  overflow: hidden;
  /* &:hover {
    //filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  } */
}

@media only screen and (max-width: 500px) {
  .blue-contact-button {
    margin: auto;
  }
}

.blue-contact-button img {
  margin: 5px 2px 0 0;
}

.blue-contact-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70px;
  height: 70px;
  color: var(--white);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blue-contact-button:hover img {
  -webkit-filter: invert(71%) sepia(81%) saturate(1039%) hue-rotate(184deg) brightness(106%) contrast(89%);
          filter: invert(71%) sepia(81%) saturate(1039%) hue-rotate(184deg) brightness(106%) contrast(89%);
}

.white-blob-button {
  width: 200px;
  font-size: 1.25em;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  margin-top: 10px;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.white-blob-button span {
  font-size: 18px;
  font-family: "Viga";
}

.white-blob-button:before, .white-blob-button:after {
  width: 100%;
  height: 4em;
  position: absolute;
  content: "";
  background: var(--white);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -5;
}

.white-blob-button:before {
  width: 20%;
  top: -25%;
  left: 20%;
}

.white-blob-button:after {
  bottom: -25%;
  right: 1%;
  width: 12%;
  height: 20%;
}

.white-blob-button:hover:before, .white-blob-button:hover:after {
  -webkit-transform: none;
          transform: none;
}

.blue-blob-button {
  width: 175px;
  font-size: 1.25em;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 22px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  margin-top: 10px;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-blob-button:before, .blue-blob-button:after {
  width: 4.5em;
  height: 2em;
  position: absolute;
  background-color: var(--blue);
  content: "";
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}

.blue-blob-button:before {
  width: 40%;
  top: -25%;
  left: 20%;
}

.blue-blob-button:after {
  bottom: -25%;
  right: 20%;
  width: 40%;
}

.blue-blob-button:hover:before, .blue-blob-button:hover:after {
  -webkit-transform: none;
          transform: none;
}

.back-home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25em;
  margin: 20px 0 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: var(--white);
  border: 3px solid var(--yellow);
  background: var(--yellow);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(161, 133, 105, 0.2);
}

.back-home-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: var(--white);
  color: var(--yellow);
  border: 4px solid var(--white);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blob-button-wrapper {
  margin: auto;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.fragment-back-button {
  background-color: var(--blue);
  vertical-align: middle;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  cursor: pointer;
}

.fragment-back-button i {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
}

.fragment-back-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: var(--white);
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.fragment-back-button:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--blue);
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.button-404 {
  width: 200px;
  font-size: 1.25em;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  margin-top: 10px;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-404 span {
  font-size: 18px;
  font-family: "Viga";
}

.button-404:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 450px) {
  .register-form {
    margin: 2.5%;
  }
}

.register-form form {
  overflow-y: scroll;
  padding: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
}

@media only screen and (max-width: 450px) {
  .register-form form {
    width: 95%;
    margin: auto;
  }
}

.register-form form .error {
  color: red;
  font-size: 1rem;
}

.register-form form::-webkit-scrollbar {
  display: none;
}

.register-form a {
  color: var(--yellow);
  text-decoration: none;
}

.register-form .accept-terms {
  width: 100%;
  text-align: center;
  color: var(--light-gray);
}

.register-form .accept-terms input {
  margin: 10px 5px 15px;
}

.register-form .accept-terms a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: 600;
}

.register-form p {
  width: 100%;
  text-align: center;
  color: var(--light-gray);
  font-size: 1em;
}

.register-form p a {
  font-weight: 600;
}

.input-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Coolvetica";
}

.input-field label {
  color: var(--light-gray);
  margin: 8px 0;
}

.input-field input {
  padding: 10px;
  margin-bottom: 8px;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.input-field input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

.half {
  width: 48%;
  margin: 0 1% 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Coolvetica";
}

.half label {
  color: var(--light-gray);
  margin: 8px 0;
}

.half input {
  padding: 10px;
  margin-bottom: 8px;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.half input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

.select-field {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1% 0 1%;
  font-family: "Coolvetica";
}

.select-field label {
  color: var(--light-gray);
  margin: 8px 0;
}

.select-field select {
  padding: 10px;
  margin-bottom: 8px;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.select-field select:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

.nav-link {
  padding: 5px 8px;
  cursor: pointer;
  font-size: 1.25em;
  text-decoration: none;
  color: black;
  margin: 0 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--yellow);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.find-property-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.find-property-wrapper .find-property-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 75vw;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: var(--white);
}

.find-property-wrapper .find-property-card > div {
  margin: 10px;
  padding: 5px;
}

.find-property-wrapper .find-property-card .field h6 {
  margin-bottom: 10px;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  position: relative;
  background-color: black;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  cursor: pointer;
}

.card-wrapper img {
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
  height: 300px;
  width: 100%;
  background-size: contain;
  border-radius: 15px;
}

.card-wrapper p {
  font-size: 1em;
}

.card-wrapper .card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--white);
}

.card-wrapper:hover {
  -webkit-transform: translateY(10px) scale(1.05);
          transform: translateY(10px) scale(1.05);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.medium {
  height: 200px;
  width: 200px;
}

.medium img {
  height: 200px;
}

.small {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  position: relative;
  background-color: black;
}

.small img {
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
  height: 150px;
  width: 100%;
  background-size: contain;
  border-radius: 10px;
}

.small p {
  font-size: 0.8em;
}

.small .card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--white);
  font-size: 0.8em;
}

.panel-navigation {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
}

.panel-navigation * {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Coolvetica";
}

.panel-navigation .logo {
  width: 64px;
  margin: 25px auto;
}

.panel-navigation ul {
  list-style-type: none;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  padding: 0;
}

.panel-navigation ul li {
  margin: 30px 0;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.panel-navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: var(--light-gray);
  text-decoration: none;
  padding: 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel-navigation ul li a img {
  margin: auto 15px auto 0;
}

.panel-navigation ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.15s all ease-in;
  transition: 0.15s all ease-in;
}

.panel-navigation ul .active {
  background-color: var(--white);
  color: var(--yellow);
  border-radius: 10px;
}

.panel-navigation ul .active img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: invert(85%) sepia(20%) saturate(4935%) hue-rotate(325deg) brightness(100%) contrast(90%);
          filter: invert(85%) sepia(20%) saturate(4935%) hue-rotate(325deg) brightness(100%) contrast(90%);
}

.panel-navigation .toggler {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.panel-navigation .toggler .toggle-button {
  width: 36px;
  height: 20px;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-navigation .toggler .toggle-button .circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--light-gray);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.panel-navigation .toggler .open {
  margin-left: 10px;
  border: 2px solid var(--yellow);
}

.panel-navigation .toggler .open .circle {
  margin-left: 18px;
  background: var(--yellow);
}

.panel-navigation .toggler .closed .circle {
  margin-left: 2px;
}

.panel-navigation .toggler .text {
  color: var(--light-gray);
  font-size: 0.9em;
  letter-spacing: 0.01em;
  margin-left: 10px;
}

.panel-navigation-closed {
  padding: 10px 15px;
  min-width: 70px;
  overflow: hidden;
  margin-right: -10px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.panel-navigation-closed .logo {
  margin-left: 8px;
  width: 36px;
}

.panel-navigation-closed ul li a {
  padding: 8px;
  text-align: center;
}

.panel-navigation-closed ul li a img {
  margin: auto;
}

.panel-navigation-closed ul li a span {
  display: none;
}

.property-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
}

@media only screen and (max-width: 450px) {
  .property-form {
    margin: 2.5%;
  }
}

.property-form form {
  overflow-y: scroll;
}

@media only screen and (max-width: 450px) {
  .property-form form {
    width: 95%;
    margin: auto;
  }
}

.property-form form .columns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.property-form form .columns > div {
  margin: 30px;
}

.property-form form .columns .amenities-checkboxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.property-form form .columns .map {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.property-form form .columns label {
  font-family: "Coolvetica";
  color: var(--light-gray);
  margin: 8px 0;
}

.property-form form .columns Button {
  width: 10px;
}

.property-form form .columns .image-input label {
  color: var(--light-gray);
  margin: 8px 0;
}

.property-form form .columns .image-input input {
  padding: 10px;
  margin: 8px 0;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.property-form form .columns .image-input input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

.property-form form .error {
  color: red;
  font-size: 1rem;
}

.property-form form::-webkit-scrollbar {
  display: none;
}

.property-form a {
  color: var(--yellow);
  text-decoration: none;
}

.property-form p {
  width: 100%;
  text-align: center;
  color: var(--light-gray);
  font-size: 1em;
}

.property-form p a {
  font-weight: 600;
}

.map-wrapper {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  border-radius: 25px;
}

.check-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 1% 0 1%;
  font-family: "Coolvetica";
}

.check-field label {
  color: var(--light-gray);
  margin: 10px 0;
}

.check-field input {
  padding: 15px;
  margin-bottom: 8px;
  background: var(--lightst-gray);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.check-field input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

label {
  font-family: "Coolvetica";
  color: var(--light-gray);
  margin: 8px 0;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field input {
  padding: 10px;
  margin-bottom: 8px;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.field input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

form {
  margin-left: 20px;
}

.result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  color: black;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.result-wrapper img {
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
  height: 300px;
  width: 300px;
  background-size: contain;
  border-radius: 15px;
  background-color: black;
  margin-right: 20px;
}

.result-wrapper p {
  max-width: 300px;
  font-size: 1em;
}

.result-wrapper .result-content {
  color: var(--black);
}

.result-wrapper .result-content .result-bottom {
  width: 100%;
  margin: 25% auto 0 auto;
}

.result-wrapper .result-content .result-bottom Button {
  width: 100%;
  margin: 0;
}

.result-wrapper:hover {
  -webkit-transform: translateY(10px) scale(1.05);
          transform: translateY(10px) scale(1.05);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.progress-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress-bar-wrapper .progress-bar {
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.7em;
  background: -webkit-gradient(linear, left top, right top, from(#f29f4b), to(#ffbe7d));
  background: linear-gradient(90deg, #f29f4b, #ffbe7d);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.progress-bar-wrapper span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-top: 10px;
  font-size: 0.7em;
  font-weight: 600;
}

input {
  padding: 10px;
  margin-bottom: 8px;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

.edit-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  font-weight: 400;
}

.login {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12%;
}

@media only screen and (max-width: 768px) {
  .login {
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.login .left {
  width: 55%;
  height: 100%;
  background-image: url(./assets/loginBackground.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .login .left {
    display: none;
  }
}

.login .left img {
  width: 50%;
}

.register {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12%;
}

@media only screen and (max-width: 768px) {
  .register {
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.register .left {
  width: 55%;
  height: 100%;
  background-image: url(./assets/registerBackground.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .register .left {
    display: none;
  }
}

.register .left img {
  width: 50%;
}

.landing-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--whiteish);
}

.landing-page-wrapper .landing-page-content {
  padding: 20px 2%;
}

.landing-page-wrapper .landing-page-content .landing-page-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 100%;
}

.landing-page-wrapper .landing-page-content .landing-page-cards > * {
  margin: 10px;
}

.property-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background: var(--whiteish);
}

.property-wrapper .property-container {
  margin: 20px 50px;
  background: var(--white);
  border-radius: 20px;
}

.property-wrapper .property-container > div {
  margin: 20px;
  padding: 5px;
}

.property-wrapper .property-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.property-wrapper .property-container .title Button {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.property-wrapper .property-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property-wrapper .property-container .info .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.property-wrapper .property-container .info .location {
  color: #6d6d6d;
}

.property-wrapper .property-container .info .right .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 200px;
}

.property-wrapper .property-container .info .right .host p {
  margin: 0 0 2px 0;
}

.property-wrapper .property-container .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.property-wrapper .property-container .images .image-main {
  width: 60%;
  background-color: black;
  height: 400px;
  border-radius: 25px;
}

.property-wrapper .property-container .images .image-main img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
}

.property-wrapper .property-container .images .image-other {
  width: 40%;
  height: 400px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #6d6d6d;
  border-radius: 25px;
  margin-bottom: 10px;
}

.property-wrapper .property-container .images .image-other img {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}

.property-wrapper .property-container .placeholder-map {
  width: 100%;
  background-color: black;
  height: 400px;
  border-radius: 25px;
}

.property-wrapper .property-container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property-wrapper .property-container .description .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.property-wrapper .property-container .description .left .amenities {
  font-weight: 800;
  font-size: 1em;
  margin-right: 20px;
}

.property-wrapper .property-container .description .left .room {
  font-weight: 800;
  font-size: 1em;
  margin-left: 20px;
}

.property-wrapper .property-container .description .left .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.property-wrapper .property-container .description .right .price {
  font-weight: 800;
  min-width: 300px;
}

.property-wrapper .property-container .description .right .cancel {
  font-weight: 800;
  min-width: 300px;
}

.dashboard-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--white);
}

.dashboard-wrapper .panel {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 0 0 0 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top-left-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 50px var(--lightst-gray);
          box-shadow: inset 0px 0px 50px var(--lightst-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.dashboard-wrapper .panel::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .dashboard-wrapper .panel {
    border-radius: 0;
    margin: 0;
    padding: 10px;
  }
}

.user-dashboard-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .user-dashboard-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.user-dashboard-wrapper .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .user-dashboard-wrapper .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-dashboard-wrapper .row > div {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .user-dashboard-wrapper .row > div {
    margin: 10px auto;
  }
}

.user-dashboard-wrapper .dashboard-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-dashboard-wrapper .dashboard-cards > * {
  margin: 10px;
}

.user-dashboard-wrapper .col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .user-dashboard-wrapper .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-dashboard-wrapper .col > div {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .user-dashboard-wrapper .col > div {
    margin: 10px auto;
  }
}

.user-dashboard-wrapper .col hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--lightst-gray);
}

.user-dashboard-wrapper .greeting {
  margin-left: 20px;
}

.greeting {
  margin-left: 20px;
}

.user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--white);
  -webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-card .user-image {
  margin: auto;
}

.user-card .user-image img {
  margin: 20px 0 20px 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--yellow);
  border: none;
}

.user-card .user-info {
  padding: 20px 40px 20px 20px;
}

.user-card .user-info .label {
  font-family: "Coolvetica";
  color: var(--light-gray);
}

.user-card .user-info .text {
  margin-left: 20px;
  font-family: "Coolvetica";
  color: var(--black);
}

.user-card .text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20px;
}

.image-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-input label {
  color: var(--light-gray);
  margin: 8px 0;
}

.image-input input {
  padding: 10px;
  margin: 8px 0;
  background: var(--lightst-gray);
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.image-input input:focus {
  outline: none;
  border: 2px solid var(--yellow);
}

.searched-properties-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--whiteish);
}

.searched-properties-wrapper .container {
  margin: 20px 50px;
}

.searched-properties-wrapper .container .search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searched-properties-wrapper .container .search-results > * {
  margin: 20px auto;
}

.searched-properties-wrapper .container .search-results a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

@font-face {
  font-family: "Coolvetica";
  src: local("Coolvetica Rg"), url("./assets/coolvetica/coolvetica rg.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/Lato/Lato-Regular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --blue: #2370c8;
  --light-blue: #d3e0f5;
  --black: #2b2b2b;
  --whiteish: #fcfcfc;
  --lightst-gray: #f2f2f2;
  --light-gray: #6b6b6b;
  --gray: #4f4f4f;
  --light: #bdd4ef;
  --white: #ffffff;
  --green: #23c86f;
  --yellow: #f29f4b;
  --primary-font: "Coolvetica";
  --secondary-font: "Lato";
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 5.25em;
  font-weight: 900;
  font-family: "Coolvetica";
  margin: 10px 0;
}

h2 {
  font-size: 4.25em;
  font-weight: 600;
  font-family: "Coolvetica";
  margin: 10px 0;
}

h3 {
  font-size: 3em;
  font-weight: 550;
  font-family: "Coolvetica";
  margin: 10px 0;
}

h4 {
  font-size: 2.25em;
  font-weight: 500;
  font-family: "Coolvetica";
  margin: 10px 0;
}

h5 {
  font-weight: 450;
  font-size: 24px;
  font-family: "Coolvetica";
  margin: 10px 0;
}

h6 {
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Coolvetica";
  margin: 0;
}

p,
span {
  font-family: "Lato";
  font-size: 1.125em;
}
/*# sourceMappingURL=main-style.css.map */