.property-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @media only screen and (max-width: 450px) {
    margin: 2.5%;
  }

  form {
    overflow-y: scroll;
    @media only screen and (max-width: 450px) {
      width: 95%;
      margin: auto;
    }
    .columns {
      width: 70vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .error {
      color: red;
      font-size: 1rem;
    }
  }
  form::-webkit-scrollbar {
    display: none;
  }
  a {
    color: var(--yellow);
    text-decoration: none;
  }

  p {
    width: 100%;
    text-align: center;
    color: var(--light-gray);
    font-size: 1em;
    a {
      font-weight: 600;
    }
  }
}
